@use './colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	font-size: 3rem;
	text-align: center;
}
.section-span {
	color: $color-hover;
}
.section {
	padding: 1em;
	font-size: 2rem;
}

.link-animation::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1.5px;
	width: 100%;
	background-color: $color-hover;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease-in;
}

.link-animation:hover::after {
	transform: scaleX(1);
	transform-origin: center;
}

.btn {
	font-family: 'League Spartan', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 0.8em;
	padding: 0.5em 0.8em;
	border: 3px solid black;
	background-color: transparent;
	outline: none;
	transition: color 0.3s, border 0.3s;
	cursor: pointer;

	&:hover {
		color: $color-hover;
		border: 3px solid $color-hover;
	}
}

.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
